block mixins
    include ../mixins/mixins
block vars
    - title = ''
    - wrapper_class = ''
    
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title=title
        link(rel="shortcut icon" href="favicon.png")
        link(href="css/library.min.css" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    body
        .preloader
            .preloader-in: img(src="css/skin/logo.png" alt="Loading...")
        .wrapper.bg-fixed(class=wrapper_class style="background-image: url('https://cdn.pixabay.com/photo/2015/06/24/15/45/laptop-820274_960_720.jpg')")
            .overlay
            .header#header
            .form-container 
                .form-logo.text-center
                    +a('index.html'): +img('logo.png')
                .form-box 
                    block form-body 
                    
                .form-footer.text-center
                    +a('#', 'text-link', 'Điều khoản sử dụng') 
                    p Chính sách Quyền riêng tư và Điều khoản Dịch vụ đã được áp dụng.
                    p 
                        | © 2021 <b>!{companyName}</b>. 
                        span.text-nowrap Powered by 
                            a(href="//bizmac.com" title="BizMaC, Thiết kế website chuyên nghiệp" target="_blank") BizMaC

            block scripts 
                include ../layout/scripts
                script. 
                    (function($) {
                        if (!$('#header').length) {return false;}
                        // show hide password
                        $('.passw-toggle-view').click(function() {
                            var control = $(this).parent().find('.form-control');
                            (control.attr('type') == 'text' ? control.attr('type', 'password') + $(this).removeClass('active') : control.attr('type', 'text') + $(this).addClass('active'));
                        })
                    })(jQuery);
                    
