block header
    header.header#header
        .container-fluid.d-flex
            a.logo(href="index.html" title="" alt=""): img(src="css/skin/logo.png" alt="")
            .header-right.d-flex 
                .form-search#form-search
                    .form-search-group 
                        input(type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm")
                        input(type="submit" class="btn-submit" value="")
                .header-right-item.search.align-items-center
                    button.search-toggle#search-toggle
                .header-right-item.language.d-flex.align-items-center
                    +a('#', 'lang', 'VI')
                    span.line
                    +a('#', 'lang', 'EN')
                button#menu-toggle.btn-menu.fa.fa-bars(role="button")
                    b Menu
        block menu
            include menu 