block scrips
	script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")
	//- script(src="https://cdn.jsdelivr.net/npm/flickity@2.2.2/dist/flickity.pkgd.min.js")
	script(src="css/plugins/flickity@2.3.0.pkgd.min.js")
	script(src="css/plugins/wow.min.js")
	script(src="css/js/main.min.js")
