//- mixin products
- title_sp1 = 'Tiêu đề dài cho sản phẩm thứ nhất'
- title_sp2 = 'Tiêu đề dài cho sản phẩm thứ hai'
- title_sp3 = 'Tiêu đề dài cho sản phẩm thứ ba'
- title_sp4 = 'Tiêu đề dài cho sản phẩm thứ bốn'
- title_sp5 = 'Tiêu đề dài cho sản phẩm thứ năm'
- title_sp6 = 'Tiêu đề dài cho sản phẩm thứ sáu'
- title_sp7 = 'Tiêu đề dài cho sản phẩm thứ bảy'
- title_sp8 = 'Tiêu đề dài cho sản phẩm thứ tám'

mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.square 
            +img('products/'+img)
        .info 
            .tt=tt
            .text-muted MSP: 1024245
            .price 
                span.price-sale 250.000!{'<u>đ</u>'}
                del.price-origin 550.000!{'<u>đ</u>'}
                span.saleoff 15% giảm
            
//- product detail
