.home-screen {
	background: linear-gradient(to bottom, #f2f5f4, #fff);
}
.grid-layout {
	&-left {
		margin: 0 -1rem;
		padding: .75rem 0;
	}
	.tt-cate {
		display: none;
	}
}
.cate-outer {
	overflow: hidden;
}
.cate-inner {
	white-space: nowrap;
	margin: 0;
	padding: 0 .75rem;
	margin-bottom: -20px;
	padding-bottom: 20px;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	list-style: none;

	&-item {
		display: inline-block;
		vertical-align: top;
		font-size: var(--font-size-cate, 15px);
		font-weight: 500;
		.d-flex {
			padding: 4px 14px 4px 8px;
			border: 1px solid rgba($primary,.15);
			margin: 0 .25rem;
			background: #fff;
		}
		.icon {
			width: 36px;
			height: 36px;
			flex: 0 0 auto;
			margin: 0 8px 0 0;
		}
	}
}
.slide-box {
	text-align: center;
	margin-top: .5rem;

	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 8px 2%;

    &-item {
        position: relative;
    }
    --tt: 15px;
    .tt {
    	text-transform: uppercase;
    	@include absolute(0,0,0,0);
    	padding: .5rem .75rem;
    	background: linear-gradient(to top, rgba(#000,.5), rgba(#000,.2));
    	color: #fff;
    	@extend %flex-center;
    }
    .img-bg {
    	width: 100%;
    	height: var(--img-height, 70px);
    }
}
@include media-breakpoint-up(md) {
	.grid-layout {
		background: #fff;
		&-left {
			margin: 0;
		}
	}
	.cate-inner {
		padding-left: 0;
		padding-right: 0;
		&-item {
			margin: 0 .5rem 0 0;
			&:last-child {
				margin-right: 0;
			}
			.d-flex {
				margin: 0;
			}
		}
	}
	.slide-box {
		--tt: 15px;
		--img-height: 90px;
		grid-template-columns: 32% 32% 32%;
		grid-gap: 1rem 2%;
		margin-top: .75rem;

        .tt {
        	padding: .5rem 1.5rem;
        }
	}
}
@include media-breakpoint-up(lg) {
	.grid-layout {
		display: flex;
		margin-bottom: 1rem;
		&-left {
			width: 220px;
			flex: 0 0 auto;
			margin: 0;
			padding: 1rem;
			padding-left: 0;
			position: relative;
		}
		&-right {
			flex: 1 1 auto;
		}
		.tt-cate {
			display: block;
			margin-bottom: .25rem;
		}
	}
	.cate-outer {
		margin: 0;
		@include absolute(0,0,0,0);
		padding: 1rem 0;
		height: 100%;
		border-right: 1rem solid #fff;
	}
	.cate-inner {
		white-space: normal;
		padding: 0;
		margin: 0;
		text-align: left;
        
        height: 100%;
        margin-right: -30px;
        padding-right: 30px;
        padding-bottom: 1rem;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&-item {
			display: block;
			margin: .5rem 0 0;
		}
	}
	.slide-box {
		--tt: 17px;
	}
}