.link-more {
	white-space: nowrap;
	#{$fa-all} {
		margin-left: 5px;
		transition: all 0.3s ease;
	}
	&:hover {
		#{$fa-all} {
			margin-left: 8px;
		}
	}
}



.carousel-c2md5.container {
	.flickity-viewport {
		overflow: visible;
	}
	.flickity-button {
		&.previous {
			left: 1.125rem;
		}
		&.next {
			right: 1.125rem;
		}
	}
	.carousel-cell {
		transition: opacity .5s ease;
	}
	.carousel-cell:not(.is-selected) {
		opacity: .2;
	}
}