.login-page {
    min-height: 100%;
    background-color: #555967;

    .form-container {
        max-width: 420px;
        margin: auto;
        position: relative;
        z-index: 7;
    }
    .overlay {
        background-color: rgba(#000,.5);
        @include fixed(0,0,0,0);
        pointer-events: none;
        backdrop-filter: blur(.375rem);
    }
}
.form-container {
    padding: 2.75rem 2rem;
    .form-logo img {
        max-width: 130px;
        max-height: 40px;
    }
    .form-logo {
        //margin-bottom: 1.05rem;
        border-radius: $border-radius $border-radius 0 0;
        background-color: #fff;
        padding: 1rem;
    }
    .form-box {
        background: #fff;
        box-shadow: 0 5px 30px -5px rgba(#000,.15);
        padding: 1.25rem 2rem 2rem;
        border-radius: 0 0 $border-radius $border-radius;
    }
    .form-footer {
        color: rgba(#fff,.8);
        font-size: 14px;
        padding: 1.25rem 1rem;
        a {
            color: inherit;
            opacity: .85;
            &:hover {
                opacity: 1;
            }
        }
        p {
            margin-bottom: 5px;
        }
    }
}
.passw-toggle-view {
    @include absolute(8px,0);
    border: 1px solid transparent;
    cursor: pointer;
    padding: 9px 14px;
    line-height: 1.5;
    opacity: 0.7;
    &.active:before {
        content: '\f06e';
    }
}
.btn-social-group {
    grid-gap: 10px;
}
.btn-social {
    background: #737681;
    color: #fff;
    border: none;
    &:hover,
    &:focus {
        color: #fff;
    }
    $btn-colors: (
        google: #db4b55,
        facebook: #627dc2,
        apple: #737681,
    );
    @each $name, $color in $btn-colors {
        &.btn-#{$name} {
            background-color: $color;
            &:hover {
                background-color: darken($color, 10%);
            }
            &:focus {
                box-shadow: 0 0 0 4px rgba($color, .2);
            }
        }
    }
}
