.carousel-logo {
    .carousel-cell {
        width: 100px;
        margin-right: 12px;
    }
    .thumb-res {
        border: 1px solid #ddd;
    }
    --button-size: 30px;
    .flickity-button {
        background-size: 10px;
    }
}