extends template/template-login
block vars
    - title= 'Khôi phục tài khoản'
    - wrapper_class = 'login-page'

block form-body 
    .mb-3.d-flex.align-items-center.justify-content-between
        +a('login.html', 'text-link', 'Đăng nhập')
        +a('register.html', 'text-link', 'Tạo tài khoản mới')
    .tt-sm=title
    .mb-3.fs-15 Nhập địa chỉ email liên kết với tài khoản của bạn. Chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.
    form.form-validate.material-form(action="favorite.html")
        .form-group.mb-2
            input.form-control(type="text" required)
            label.label-text Địa chỉ email
        .d-grid.my-4
            button(type="submit" class="btn btn-primary") Tiếp tục
        .mt-3.text-center: +a('index.html', 'text-linkedin')
            span.bi.bi-arrow-left.mr-1 
            | Về trang chủ
append scripts
    +parsley()
