extends template/template
block vars
    - title = 'Thư viện'
    - menu_active = 'gallery'
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = true
    - banner_image = 'banner.jpg'
    - login = false

append breadcrumb 
    +breadcrumb({'gallery.html': title}, 'Thư viện Hình ảnh')
block mainer
    main.mainer
        .container.py-5 

            //- include mixin gallery
            include mixin-gallery 

            h2.text-center.tt-sm.text-uppercase Thư viện Hình ảnh
            .bg-danger.d-width.mx-auto.mb-4(width="30" height="4")
            .desc.text-center.fw-medium.fs-18.mb-45 Hình ảnh TeamBuilding ABC tại Đà Nẵng
            
            .flow-gallery.mb-4
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng
                +a('css/skin/theme/thumb@16x9.jpg', 'block')(data-fancybox="album01")
                    +img('theme/thumb@16x9.jpg')
                    //- span.caption Hình ảnh TeamBuilding ABC tại Đà Nẵng

            .related-post.my-45.position-relative.pt-5
                .overlay-fit.gradient
                .d-flex.align-items-center.justify-content-between.mb-3
                    .tt-xs.text-uppercase.my-2 Xem Album khác
                    span.border-top.mx-3.flex-fill
                    +a('gallery.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right

                .list-photos.row.row-cols-1.row-cols-sm-2.row-cols-md-4.gy-5
                    .col: +gallery-item('thumb@16x9.jpg', 'Albumb Team Building HCM')
                    .col: +gallery-item('thumb@16x9.jpg', 'Albumb Team Building Hà Nội')
                    .col: +gallery-item('thumb@16x9.jpg', 'Albumb Team Building Huế')
                    .col: +gallery-item('thumb@16x9.jpg', 'Albumb Team Building Đà Năng')

append scripts
    +fancybox()
    script(src="../scss/pages/flow-gallery.min.js")
    script.
        const flowGallery = new FlowGallery({
            //- selector: '.flow-gallery',
            maxHeight: 269,
            gapWidth: 15,
            percent: false,
            fillLastLine: false,
            enlarge: true,
            align: 'left'
        })
