extends template/template
block vars
    - title = 'Home'
    - menu_active = 'index'
    - wrapper_class = 'home-page'
    - wrapper_id = 'home-page'
    - home_slider = true
    - banner_top = false
    - banner_image = ''
    - login = false

block mainer
    main.mainer
        .block-bg.py-5.services-section 
            .carousel-c2md5.container
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2020/03/23/08/45/cat-4959941_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2020/03/06/13/43/mockingbird-4907104_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2016/01/09/17/52/zoo-1130670_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2020/09/03/12/34/flowers-5541118_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2019/07/03/19/50/capricorn-4315367_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2021/08/06/18/46/dog-6526980_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2016/11/23/13/55/owl-1853021_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2015/11/23/07/31/scottish-fold-1057829_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2016/07/12/17/30/flowers-1512646_960_720.jpg")
                .carousel-cell 
                    .thumb-res.tall.mb-0.rounded: img.rounded.fit-cover(src="https://cdn.pixabay.com/photo/2019/12/17/18/20/peafowl-4702197_960_720.jpg")
        .block-bg.py-5.bg-lighter 
            .container 
                .d-width.bg-white(width="100%" height="900")