extends template/template
block vars
    - title = 'Home'
    - menu_active = 'index'
    - wrapper_class = 'home-page'
    - wrapper_id = 'home-page'
    - home_slider = true
    - banner_top = false
    - banner_image = ''
    - login = false

block mainer
    main.mainer
        .container.py-5 
            .display-5.text-center.mb-3 Body Content