extends template/template-login
block vars
    - title= 'Đăng nhập'
    - wrapper_class = 'login-page'

block form-body 
    .mb-3.d-flex.align-items-center.justify-content-between
        +a('register.html', 'text-link', 'Tạo tài khoản mới')
        +a('forgot.html', 'text-link', 'Quên mật khẩu')
    .tt-sm=title
    form.form-validate.material-form(action="favorite.html")
        .form-group.mb-2
            input.form-control(type="text" required)
            label.label-text Địa chỉ email
        .form-group.mb-2
            input.form-control(type="password" required)
            span.passw-toggle-view.far.fa-eye-slash
            label.label-text Mật khẩu 
        .d-grid.my-4
            button(type="submit" class="btn btn-primary") Đăng nhập 
        .divider.text-center.mb-2.text-muted: span Hoặc sử dụng tài khoản
        .d-grid.btn-social-group
            +a('#', 'btn btn-social btn-facebook')
                i.fab.fa-facebook-square.mr-2
                | Facebook
            +a('#', 'btn btn-social btn-google')
                i.fab.fa-google.mr-2
                | Google
            //- +a('#', 'btn btn-social btn-apple')
            //-     i.fab.fa-google.mr-2
            //-     | Apple
        .mt-3.text-center: +a('index.html', 'text-linkedin')
            span.bi.bi-arrow-left.mr-1 
            | Về trang chủ
append scripts
    +parsley()
    
