mixin accordion-item(id, tt, expand)
    if expand == 'active'
        .accordion-item     
            .accordion-heading(role="tab")
                +a('#'+id, 'accordion-button collapsed')(aria-expanded="true" data-bs-parent="#accordion" data-bs-toggle="collapse" role="button")=tt
            .accordion-collapse.collapse(id=id role="button").in.show
                .accordion-body 
                    p The back-and-forth is the latest sign that many Republicans particularly in the Senate are eager to move past the former President's obsession with the 2020 elections and instead focus on more fertile ground: The Biden agenda and their efforts to take back both houses of Congress in 2022.
                    p The latest blowup came over the weekend after Rounds said that any voting "irregularities" in 2020 wouldn't have changed the outcome of the race.
    else 
        .accordion-item 
            .accordion-heading(role="tab")
                +a('#'+id, 'accordion-button collapsed')(aria-expanded="false" data-bs-parent="#accordion" data-bs-toggle="collapse" role="button")=tt
            .accordion-collapse.collapse(id=id role="button")
                .accordion-body 
                    p: b If you know your account password, follow these steps to change it.
                    p
                        b Note: 
                        | If you don't know your account password and want to reset it, follow the steps in this article:
                    p Follow these steps to change your password:
                    ol
                        li Go to you !{web}
                        li Sign in to your account
                        li Click My Account at the top of the screen.
                        li Click Account Settings
