mixin star(point)
    if point == '4.9'
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star-half-alt
    else if point == '4'
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star 
        span.far.fa-star 
    else if point == '3'
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.far.fa-star
        span.far.fa-star 
    else if point == '0'
        span.far.fa-star
        span.far.fa-star
        span.far.fa-star
        span.far.fa-star
        span.far.fa-star 
    else 
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
        span.fa.fa-star
