extends template/template
block vars
    - title = 'Khách hàng & Đối tác'
    - menu_active = ''
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = true
    - banner_image = 'banner.jpg'
    - login = false

append breadcrumb 
    +breadcrumb({}, title)
block mainer
    main.mainer
        .container.py-5 
            .carousel-logo#carousel-logo
                - n = 1
                while n <= 6
                    .carousel-cell
                        +a('#', 'thumb-res wide mb-0'): +img('partner/'+n+++'.jpg')

append scripts 
    script. 
        $(function(){
            $('#carousel-logo').flickity({
                contain: true,
                pageDots: false,
                autoPlay: 3000,
                pauseAutoPlayOnHover: false,
                wrapAround: true,
                cellAlign: 'left',
            });
        });