extends template/template
block vars
    - title = 'Sản Phẩm'
    - menu_active = 'products'
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = true
    - banner_image = 'banner.jpg'
    - login = false

append breadcrumb 
    +breadcrumb({'products.html':'Sản phẩm'}, '')
block mainer
    main.mainer
        .container.py-5  
            .block-heading.d-flex.flex-wrap.align-items-center.justify-content-between
                .my-2.text-muted.fw-medium Hiển thị 12 trong tổng 130 sản phẩm
                .my-2.filter-group.d-flex.align-items-center.justify-content-between
                    .filter-group-item
                        //- button.cate-toggle.text-nowrap.form-control(data-clickjs, data-active="cate-panel" type="button")
                        //-     span.mr-1.bi.bi-list-task
                        //-     | Danh mục & Lọc
                        button.form-control(type="button" data-bs-toggle="offcanvas" data-bs-target="#canvas-cates" aria-controls="canvas-cates")
                            span.mr-1.bi.bi-list-task
                            | Danh mục & Lọc
                    .filter-group-item
                        select.form-select.nice-select
                            option(value="" selected disabled) Sắp xếp theo
                            option Cũ nhất
                            option Mới nhất
                            option Giá giảm dần
                            option Giá giảm dần
            .list-products.row.row-cols-2.row-cols-md-4.g-3.g-lg-4
                .col.mb-4: +pro-item('1.jpg', title_sp1)
                .col.mb-4: +pro-item('2.jpg', title_sp2)
                .col.mb-4: +pro-item('3.jpg', title_sp3)
                .col.mb-4: +pro-item('4.jpg', title_sp4)
                .col.mb-4: +pro-item('5.jpg', title_sp5)
                .col.mb-4: +pro-item('6.jpg', title_sp6)
                .col.mb-4: +pro-item('1.jpg', title_sp7)
                .col.mb-4: +pro-item('2.jpg', title_sp8)
            +pagination('my-4')

            .offcanvas.offcanvas-end#canvas-cates(tabindex="-1")
                .offcanvas-header
                    h5.offcanvas-title.tt-sm.mb-0 Danh mục sản phẩm
                    button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
                .offcanvas-body
                    .block
                        ul.menu-sidebar-filter.list-style-angle
                            li: +a('products.html', '', 'Danh mục cha thứ một')
                            li: +a('products.html', '', 'Danh mục cha thứ hai')
                            li: +a('products.html', '', 'Danh mục cha thứ ba')
                            li: +a('products.html', '', 'Danh mục cha thứ tư')
                            li: +a('products.html', '', 'Danh mục cha thứ năm')
                            li: +a('products.html', '', 'Danh mục cha thứ sáu')
                            li: +a('products.html', '', 'Danh mục cha thứ bảy')
                    .block 
                    
