extends template/template
block vars
    - title = 'Bình chọn và Đánh giá'
    - menu_active = ''
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = true
    - banner_image = 'banner.jpg'
    - login = false

append breadcrumb 
    +breadcrumb({}, title)
block mainer
    main.mainer
        .container.py-5 
            include mixin-rating
            .block-sidebar 
                .sidebar.mb-45.mb-md-0
                    .pane.pane-menu
                        .tt-xs.text-uppercase Menu danh mục
                        ul.menu-vertical
                            li: a(href="#.html" title="" alt="" target="_self") Tiểu thuyết
                            li: a(href="#.html" title="" alt="" target="_self") Tâm lý
                            li: a(href="#.html" title="" alt="" target="_self") Khoa học 
                            li: a(href="#.html" title="" alt="" target="_self") Xã hội 
                            li: a(href="#.html" title="" alt="" target="_self") Kinh tế  
                            li: a(href="#.html" title="" alt="" target="_self") Văn hóa 
                .mainbody 
                    //- rating
                    .rating-section#block-rate
                        h3.tt-sm.mb-3 Đánh giá và bình chọn 
                        .rate-box 
                            .rate-box-col.d-flex.align-items-center
                                .left
                                    .tt-lg.fw-semibold.lh-1.mb-0 4.9/5
                                    .text-muted.lh-base 156 đánh giá
                                .star-rate
                                    +star('4.9')
                            .rate-box-col
                                .rate-view 
                                    .rate-view-item
                                        .text.text-label 5 sao 
                                        .progress
                                            .progress-bar(aria-valuemin="0" aria-valuemax="100" style="width:100%")
                                        .text 151
                                    .rate-view-item
                                        .text.text-label 4 sao 
                                        .progress
                                            .progress-bar(aria-valuemin="0" aria-valuemax="100" style="width:5%")
                                        .text 2
                                    .rate-view-item
                                        .text.text-label 3 sao 
                                        .progress
                                            .progress-bar(ria-valuemin="0" aria-valuemax="100")
                                        .text 0
                                    .rate-view-item
                                        .text.text-label 2 sao 
                                        .progress
                                            .progress-bar(ria-valuemin="0" aria-valuemax="100")
                                        .text 0
                                    .rate-view-item
                                        .text.text-label 1 sao 
                                        .progress
                                            .progress-bar(ria-valuemin="0" aria-valuemax="100")
                                        .text 0
                            .rate-box-col
                                .text.desc.mb-3 Cho mọi người biết cảm nghĩ của bạn thế nào?
                                button.btn.btn-dark.px-4(data-bs-toggle="modal" data-bs-target="#modal-rate") Viết đánh giá
                    //- comments
                    .block-review 
                        .review-heading.d-flex.align-items-center.justify-content-between  
                            .tt-xs.mb-0 Tất cả đánh giá
                            .col-filter.d-flex.justify-content-center
                                select.form-select 
                                    option(disabled) Tất cả
                                    option 5 sao
                                    option 4 sao
                                    option 3 sao
                                    option 2 sao
                                    option 1 sao
                                select.form-select.right.ml-2
                                    option(disabled) Sắp xếp
                                    option Mới nhất
                                    option Cũ nhất
                                    option Quan tâm nhất
                        .review-body 
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Quang Dung
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content I received this book from the publishers via Netgalley for a review. Another good read from David Mark. Aector McAvoy is one of the best literary detectives about. A must read.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 42
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                                    .review-action.review-toggle(role="button") 
                                        i.bi.bi-arrow-return-right.mr-2 
                                        b 3 câu trả lời 
                                    .reply-group 
                                        .review-body-item.d-flex 
                                            .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                            .info 
                                                .title-group.d-flex.flex-wrap.justify-content-between 
                                                    .left.d-flex.align-items-center
                                                        b Lưu Bị 
                                                    .date.text-muted Thứ 3, 24/12/2021
                                                .review-content I received this book from the publishers via Netgalley for a review. Another good read from David Mark. Aector McAvoy is one of the best literary detectives about. A must read.
                                                .review-action.d-flex.lh-base 
                                                    a.like-action(role="button") 
                                                        i.bi.bi-hand-thumbs-up.mr-1
                                                        span 42
                                                    .reply-action Trả lời
                                                .form-reply
                                                    .block 
                                                        textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                                        button.btn.btn-submit(type="submit" role="button") Gửi nhận xét

                                        .review-body-item.d-flex 
                                            .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                            .info 
                                                .title-group.d-flex.flex-wrap.justify-content-between 
                                                    .left.d-flex.align-items-center
                                                        b Tào Tháo 
                                                    .date.text-muted Thứ 3, 24/12/2021
                                                .review-content I received this book from the publishers via Netgalley for a review. Another good read from David Mark. Aector McAvoy is one of the best literary detectives about. A must read.
                                                .review-action.d-flex.lh-base 
                                                    a.like-action(role="button") 
                                                        i.bi.bi-hand-thumbs-up.mr-1
                                                        span 42
                                                    .reply-action Trả lời
                                                .form-reply
                                                    .block 
                                                        textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                                        button.btn.btn-submit(type="submit" role="button") Gửi nhận xét

                                        .review-body-item.d-flex 
                                            .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                            .info 
                                                .title-group.d-flex.flex-wrap.justify-content-between 
                                                    .left.d-flex.align-items-center
                                                        b Phong Lan 
                                                    .date.text-muted Thứ 3, 24/12/2021
                                                .review-content I received this book from the publishers via Netgalley for a review. Another good read from David Mark. Aector McAvoy is one of the best literary detectives about. A must read.
                                                .review-action.d-flex.lh-base 
                                                    a.like-action(role="button") 
                                                        i.bi.bi-hand-thumbs-up.mr-1
                                                        span 42
                                                    .reply-action Trả lời
                                                .form-reply
                                                    .block 
                                                        textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                                        button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Quang Vinh
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Absolutely brilliant. This could be a based on a true story it is so realistic. Great characterisation. So fast paced and compelling.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 142
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét

                                    .review-action.review-toggle(role="button") 
                                        i.bi.bi-arrow-return-right.mr-2 
                                        b 1 câu trả lời 
                                    .reply-group 
                                        .review-body-item.d-flex 
                                            .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                            .info 
                                                .title-group.d-flex.flex-wrap.justify-content-between 
                                                    .left.d-flex.align-items-center
                                                        b Hồng Sơn 
                                                    .date.text-muted Thứ 3, 24/12/2021
                                                .review-content I received this book from the publishers via Netgalley for a review. Another good read from David Mark. Aector McAvoy is one of the best literary detectives about. A must read.
                                                .review-action.d-flex.lh-base 
                                                    a.like-action(role="button") 
                                                        i.bi.bi-hand-thumbs-up.mr-1
                                                        span 42
                                                    .reply-action Trả lời
                                                .form-reply
                                                    .block 
                                                        textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                                        button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Duy Mạnh 
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Great book. Luke Delaney pulls you into a nightmare world of a serial killer taunting the police and seemingly impossible to catch. Great descriptive work and strong characters make this all very believable, and all the more frightening because of that. Very hard to put down.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 432
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Quan Vũ 
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Absolutely brilliant. This could be a based on a true story it is so realistic. Great characterisation. So fast paced and compelling.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 432
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Lữ Bố 
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Absolutely brilliant. This could be a based on a true story it is so realistic. Great characterisation. So fast paced and compelling.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 432
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Điêu Thuyền 
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Absolutely brilliant. This could be a based on a true story it is so realistic. Great characterisation. So fast paced and compelling.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 432
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                            .review-body-item.d-flex 
                                .avatar.rounded-circle.mr-2(style="background-image:url('https://cdn-icons-png.flaticon.com/128/149/149071.png')")
                                .info 
                                    .title-group.d-flex.flex-wrap.justify-content-between 
                                        .left.d-flex.align-items-center
                                            .star-rate.mr-3
                                                +star('5')
                                            b Khổng Minh 
                                        .date.text-muted Thứ 3, 24/12/2021
                                    .review-content Absolutely brilliant. This could be a based on a true story it is so realistic. Great characterisation. So fast paced and compelling.
                                    .review-action.d-flex.lh-base 
                                        a.like-action(role="button") 
                                            i.bi.bi-hand-thumbs-up.mr-1
                                            span 432
                                        .reply-action Trả lời
                                    .form-reply
                                        .block 
                                            textarea.form-control(rows="1" placeholder="Nhận xét của bạn")
                                            button.btn.btn-submit(type="submit" role="button") Gửi nhận xét
                    +pagination('justify-content-end')
        //- modal rate
        .modal.modal-rate.fade#modal-rate(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-header
                        .thumb.mr-3
                            .thumb-res.square.mb-0: +img('products/1.jpg')
                        .info 
                            .tt-xs.fw-semibold Chia sẻ suy nghĩ của bạn
                            .desc Cho mọi người biết cảm nhận của bạn về sản phẩm này.
                    .modal-body
                        .d-flex.align-items-center.justify-content-between.mb-3 
                            .tt-xs.fw-semibold.mb-0 Đánh giá
                            .star-rate.star-rating
                                input#star5(type="radio" name="rate" value="5")
                                label(for="star5" title="Tuyệt vời")
                                input#star4(type="radio" name="rate" value="4")
                                label(for="star4" title="Tốt")
                                input#star3(type="radio" name="rate" value="3")
                                label(for="star3" title="Cũng được")
                                input#star2(type="radio" name="rate" value="2")
                                label(for="star2" title="Bình thường")
                                input#star1(type="radio" name="rate" value="1")
                                label(for="star1" title="Hơi tệ")
                        .block-form 
                            .form-group.mb-3
                                textarea.form-control(rows="4" placeholder="Nhập nhận xét của bạn")
                            .form-group.mb-3 
                                .tt.fw-medium.mb-1 Tên hiển thị
                                input.form-control.fw-semibold(type="text" value="Nguyen Hoai Nam")
                        .button-group.mt-3
                            button.btn.btn-danger.px-4(type="button" data-bs-dismiss="modal") Hủy
                            button.btn.btn-primary.px-4(type="submit") Gửi đánh giá



append scripts 
    //- add 1 file rating.js then import to main.js with below content

    script.
        if($('.form-reply').length) {
            $('.reply-action').each(function() {
                var fm = $(this).parent().next('.form-reply');
                $(this).on('click', function() {
                    $('.form-reply').not(fm).removeClass('active');
                    fm.toggleClass('active');
                });
            });
            $('.review-toggle').click(function() {
                $(this).next('.reply-group').addClass('active');
                $(this).hide();
            });
        }
        $('.form-reply .form-control').on('change keyup', function() {
            if ($(this).val().length > 0) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        })
