extends template/template-login
block vars
    - title= 'Đăng ký thành viên'
    - wrapper_class = 'login-page'

block form-body 
    .mb-3.d-flex.align-items-center.justify-content-between
        div 
            +a('login.html', 'text-link text-decoration-underline', 'Đăng nhập')
            |  nếu bạn đã có tài khoản
    .tt-sm=title
    form.form-validate.material-form(action="register-done.html")
        .row.row-cols-2.gx-3
            .col
                .form-group.mb-2
                    input.form-control(type="text" required)
                    label.label-text Họ
            .col
                .form-group.mb-2
                    input.form-control(type="text" required)
                    label.label-text Tên
        .form-group.mb-2
            input.form-control(type="text" required)
            label.label-text Địa chỉ email
        .form-group.mb-2
            input.form-control(type="password" required)
            span.passw-toggle-view.far.fa-eye-slash
            label.label-text Mật khẩu 
        .form-group.mb-2
            input.form-control(type="password" required)
            span.passw-toggle-view.far.fa-eye-slash
            label.label-text Nhập lại mật khẩu 
        .warning.fs-14.my-3
            | Bằng cách tiếp tục, bạn xác nhận rằng bạn đồng ý với các 
            a.text-link(href="#", alt, target="_self") Điều khoản sử dụng
            | và xác nhận rằng bạn đã đọc về 
            a.text-link(href="#", alt, target="_self") Chính sách quyền riêng tư
        .d-grid.my-4
            button(type="submit" class="btn btn-primary") Đăng ký 
        .divider.text-center.mb-2.text-muted: span Hoặc sử dụng tài khoản
        .d-grid.btn-social-group
            +a('#', 'btn btn-social btn-facebook')
                i.fab.fa-facebook-square.mr-2
                | Facebook
            +a('#', 'btn btn-social btn-google')
                i.fab.fa-google.mr-2
                | Google
        .mt-3.text-center: +a('index.html', 'text-linkedin')
            span.bi.bi-arrow-left.mr-1 
            | Về trang chủ
append scripts
    +parsley()
