extends template/template-login
block vars
    - title= 'Đăng ký thành công'
    - wrapper_class = 'login-page'

block form-body 
    .text-center
        .icon.fal.fa-check-circle.text-success.fa-4x.mb-3
        .tt-md.text-center.text-primary=title
        .desc Cảm ơn bạn đã đăng ký thành viên tại !{web}.
        .mt-3: +a('index.html', 'text-linkedin')
            span.bi.bi-arrow-left.mr-1 
            | Về trang chủ
append scripts
    +parsley()
