extends template/template
block vars
    - title = 'Đổi mật khẩu'
    - menu_active = ''
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = false
    - banner_image = ''
    - login = true

block mainer
    main.mainer
        .container
            .block-sidebar.user-container
                .sidebar 
                    .sidebar-pane
                        .tt-xs.fw-normal.mb-3 Hi, <b>Nguyễn Văn A</b>
                        ul.menu-dashboard 
                            li.menu-item 
                                +a('user-account.html') 
                                    span.icon.far.fa-user-circle
                                    | Thông tin cá nhân
                            li.menu-item.active
                                +a('user-password.html') 
                                    span.icon.far.fa-lock
                                    | Đổi mật khẩu
                            li.divider
                            li.menu-item 
                                +a('user-invoid.html') 
                                    span.icon.far.fa-lock
                                    | Đơn hàng
                            li.menu-item 
                                +a('index.html') 
                                    span.icon.far.fa-sign-out
                                    | Đăng xuất
                    .sidebar-pane 
                        .tt-xs.mb-3 Thông tin liên hệ
                        .picon 
                            span.far.fa-envelope 
                            | signbrowse@gmail.com
                        .picon 
                            span.far.fa-phone.fa-flip-horizontal 
                            | 0323 456 789
                        .picon 
                            span.far.fa-map-marker-alt 
                            | 212 Nguyễn Đình Chiểu, Phường 14, Quận 5, Tp. Hồ Chí Minh
                .mainbody
                    form.form-validate.mb-5
                        .tt-sm.mb-3 Thay đổi mật khẩu
                        .form-x-shorter
                            .row.mb-3.row.mb-3
                                label.col-sm-3.col-form-label Mật khẩu cũ
                                .col-sm-9
                                    input.form-control(type="password" placeholder="Mật khẩu cũ" required)
                            .row.mb-3.row.mb-3
                                label.col-sm-3.col-form-label Mật khẩu cũ
                                .col-sm-9
                                    input.form-control(type="password" placeholder="Mật khẩ mới" required)
                            .row.mb-3.row.mb-3
                                label.col-sm-3.col-form-label Mật khẩu cũ
                                .col-sm-9
                                    input.form-control(type="password" placeholder="Lặp lại mật khẩu cũ" required)
                            .row.mb-3
                                label.col-sm-3.col-form-label
                                .col-sm-9
                                    button.btn.btn-danger.px-5(type="submit") Cập nhật

                    .nav-responsive#nav-responsive
                        .nav-nowrap.nav-scrollx#nav-scrollx
                            +a('#', 'nav-item', 'Tất cả')
                            +a('#', 'nav-item', 'Chờ xác nhận')
                            +a('#', 'nav-item', 'Đang giao')
                            +a('#', 'nav-item', 'Đã hoàn thành')

append scripts 
    +parsley()
