.banner-lg {   
    position: relative;
    z-index: 11;
    background-color: #f2f2f2;
    &:before {
        content: '';
        @extend %absolute-all;
        background-color: rgba(#000,.15);
    }
    .container {
        height: var(--banner-height, 50vh);
        min-height: 300px;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }
    .text-banner {
        text-align: center;
    }
    #{$tt-all} {
        color: white;
    }
    .breadcrumb {
        padding: 0;
    }
}
.breadcrumb {
    justify-content: center;
    color: white;
    li {
        margin: 0;
        + li:before {
            color: inherit !important;
        }
    }
    .active, a {
        color: inherit;
        &:hover {
            color: $body-color;
        }
    }
}
@include media-breakpoint-up(md) {
    .banner-lg {
        @include fixed(0,0,null,0);
    }
    .mainer {
        margin-top: 50vh;
        z-index: 12;
    }
}
@include media-breakpoint-up(xl) {
    .banner-lg {
        --tt-md: calc(1.5rem + 1.05vw);
    }
}
