.btn-submit {
	@include absolute(0,0);
	padding: $input-padding-y $input-padding-x;
	width: 40px;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23777777" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>') no-repeat center center;
	background-size: 16px;
	line-height: 1.5;
	border: none;
}
.form-search {
	@include absolute(0,0,null,0);
	z-index: 981;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
	padding: 8px;
    
    .btn-submit {
    	height: 46px;
    }
    &-group {
    	position: relative;
    }
    &-control {
    	margin: .75rem .5rem;
    	position: relative;
    }
	.form-control {
		border: none;
		background: #fff;
        height: 46px;
        padding-left: 1rem;
        padding-right: 2.5rem;
		&:focus {
			box-shadow: none;
			@include placeholder-focus;
		}
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
@include media-breakpoint-up(md) {
	#search-toggle,
	#close-search {
		display: none;
	}
	.form-search {
		position: relative;
		opacity: 1;
		visibility: visible;
		flex: 1 1 auto;
		padding-left: 3rem;
		z-index: 10;
		&-group {
			margin-left: auto;
			margin-right: -8px;
			max-width: 70%;
			padding: 0;
			background: transparent;
			opacity: 0;
			visibility: hidden;
		}
		.btn-submit {
			background-size: 18px;
		}
		.form-control {
			border: none;
			border-radius: 0;
			background: transparent;
			color: #fff;
		}
		&-control {
			margin: 0;
		}
		&.active {
			.form-search-group {
				max-width: 400px;
				opacity: 1;
				visibility: visible;
				transition: max-width 0.35s ease, opacity .65s ease;
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.form-search {
		&-group {
			max-width: 430px;
		}
		&.active .form-search-group {
			max-width: 480px;
		}
	}
}
.form-search-open .header {
    background-color: #333;
}