$header-color-icon: #fff;
$header-color-text: #fff;

#menu-toggle {
	@extend %flex-center;
	border: none;
	color: $header-color-icon;
	font-size: var(--header-icon-size, 1.25rem);
	font-weight: 300;
	border-radius: 20px;
	padding: .5rem .75rem;
	margin-right: -.75rem;
	margin-left: 1.125rem;
	b {
		font-family: $font-family;
		font-size: 13px;
		font-weight: 400;
		margin-left: 6px;
		opacity: .9;
		text-transform: uppercase;

	}
}
#search-toggle {
	font-size: var(--header-icon-size, 1.125rem);
	padding: .75rem;
	color: $header-color-icon;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>') no-repeat center center;
	background-size: 18px;
	width: 40px;
	display: none;
}
// Logo
.logo {
    width: var(--logo-width, 125px);
    flex: 0 0 auto;
    height: calc(var(--logo-width, 125px) * 37 / 120);
    position: relative;
    margin: .75rem 0;
    //left: 20.5px;
    img {
    	max-height: 100%;
    	margin: auto 0;
    }
}
// header
.header {
	z-index: 678;
	width: 100%;
	@include fixed(0,0,null,0);
	background-color: rgba(#000,.2);
	transition: background 0.5s ease;

	&-anchor {
		height: 0;
		position: absolute;
	}
	.container-fluid.d-flex {
		align-items: center;
	}
	a {
		text-decoration: none !important;
	}
	&.stick {
		position: fixed;
		background-color: #232323;
		@include support-filter-blur() {
			background-color: rgba(#000,.7);
			backdrop-filter: blur(2rem);
		}
	}
	&-right {
		justify-content: flex-end;
		flex: 1 1 auto;
		.language .line {
			background-color: rgba(#fff,.2);
		}
	}
}
.language {
	.line {
		width: 1px;
		height: 18px;
		background: rgba(#000,.2);
		margin: auto .75rem;
	}
	a {
		text-transform: uppercase;
		color: $header-color-text;
		font-weight: 500;
	}
}

@include media-breakpoint-up(md) {
	#menu-toggle {
		margin-left: 1rem;
	}
	.logo {
		--logo-width: 150px;
		margin: .9375rem 0;
	}
	#search-toggle {
		display: block;
		&.active {
			display: none;
		}
	}
	.header {
		box-shadow: none;
		> .container-fluid {
			position: relative;
			.form-search-open & {
				z-index: 801;
			}
		}
		&-right {
			flex: 1 1 auto;
			justify-content: flex-end;
			.language {
		        .line {
		        	margin: 0 .75rem;
		        }
			}
			.search {
				display: flex;
				&:after {
					content: '';
					width: 50px;
					height: 1px;
					background-color: rgba(#fff,.25);
					margin: 0 20px 0 10px;
				}
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	.header {
		.container-fluid {
			padding-left: 4vw;
			padding-right: 4vw;
		}
		&-right {
			.language {
				margin-left: 1rem;
				margin-right: .75rem;
				.line {
					margin: 0 1rem;
				}
			}
		}
	}
}